*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #043873;
    /* font-family: "DM Sans", sans-serif;
    font-weight: normal; */
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.container{
    margin: 0 32px;
}

.btn {
    text-decoration: none;
    border-radius: 8px;
    padding: 18.5px 40px;
    display: flex;
    align-items: center;
    line-height: 23px;
    letter-spacing: -1px;
}

.header{
    padding: 16px 0;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    gap: 32px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.nav__link{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav__link img{
    transition: transform 0.3s ease;
}

.nav__link:hover img{
    transform: rotate(-180deg);
}

.header__btns{
    display: flex;
    gap: 24px;
}

.yellow{
    background: rgba(255, 228, 146, 1);
    color: #043873;
    transition: background-color 0.3s ease;
}

.yellow:hover{
    background-color: rgba(255, 228, 146, 0.85);
}

.blue{
    background: rgba(79, 156, 249, 1);
    color: #fff;
    gap: 10px;
    transition: background-color 0.3s ease;
}

.blue:hover{
    background-color: rgba(79, 156, 249, 0.8);
}

.btn__icon{
    transition: transform 0.3s ease;
}

.blue:hover .btn__icon{
    transform: translateX(6px);
}

.hero{
    padding: 100px 0;
    color: #fff;
    background-image: url('../img/hero-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__title{
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -0.2px;
}

.hero__text{
    line-height: 30px;
    letter-spacing: -0.2px;
    margin: 24px 0 60px;
} 

.hero__btn{
    max-width: 219px;
    padding: 20px;
}

.hero__image img{
    display: block;
    max-width: 100%;
}