*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #043873;
    /* font-family: "DM Sans", sans-serif;
    font-weight: normal; */
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
    background: none;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    opacity: 1;
    transition: opacity 0.3s ease;
}

button:hover{
    opacity: 0.8;
}

.container{
    margin: 0 32px;
}

.btn {
    text-decoration: none;
    border-radius: 8px;
    padding: 18.5px 40px;
    display: flex;
    align-items: center;
    line-height: 23px;
    letter-spacing: -1px;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
}

.header{
    padding: 16px 0;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    gap: 32px;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.nav__link{
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav__link img{
    transition: transform 0.3s ease;
}

.nav__link:hover img{
    transform: rotate(-180deg);
}

.header__btns{
    display: flex;
    gap: 24px;
}

.yellow{
    background: rgba(255, 228, 146, 1);
    color: #043873;
    transition: background-color 0.3s ease;
}

.yellow:hover{
    background-color: rgba(255, 228, 146, 0.85);
}

.blue{
    background: rgba(79, 156, 249, 1);
    color: #fff;
    gap: 10px;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.blue:hover{
    opacity: 0.8;
}

.btn__icon{
    transition: transform 0.3s ease;
}

.blue:hover .btn__icon{
    transform: translateX(6px);
}

.hero{
    padding: 100px 0;
    color: #fff;
    background-image: url('../img/hero-bg.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.hero__title{
    font-size: 64px;
    font-weight: 700;
    letter-spacing: -0.2px;
}

.text{
    line-height: 30px;
    letter-spacing: -0.2px;
    margin: 24px 0 60px;
} 

.hero__btn{
    max-width: 219px;
    padding: 20px;
}

.hero__image img{
    display: block;
    max-width: 100%;
}

.managment{
    background-color: #fff;
    background-image: url('../img/managment-bg.svg');
    background-repeat: no-repeat;
    background-position: left top 10px;
    padding: 100px 0 0;
}

.title{
    font-size: 72px;
    max-width: 657px;
}

.highlight{
    position: relative;
    display: inline-block;
    z-index: 1;
}

.highlight::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 40px;
    background: url('../img/underline.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
    opacity: 0.8;
}

.managment__btn{
    max-width: 201px;
}

.work{
    background: #fff;
    padding: 100px 0 140px;
}

.work__btn{
    max-width: 186px;
}

.extension{
    padding: 140px 0;
    color: #fff;
}

.highlight-opacity{
    position: relative;
    display: inline-block;
    z-index: 1;
}

.highlight-opacity::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 40px;
    background: url('../img/underline.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}

.extension__btn{
    max-width: 176px;
}

.customise{
    background: #fff;
    padding: 140px 0;
}

.customise__btn{
    max-width: 164px;
}

.pricing{
    background: #fff;
    padding: 60px 0 140px;
}

.pricing__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 979px;
    text-align: center;
}

.pricing__cards{
    display: flex;
    gap: 32px;
}

.pricing-card{
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #FFE492;
    padding: 40px 44px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.pricing-card::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 16px;
    z-index: -1;
    transition: 0.4s ease;
}

.pricing-card:hover::before{
    top: -50px;
    bottom: -50px;
    background: #043873; 
}

.pricing-card:hover{
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
    color: #fff;
    border: none;
    cursor: pointer;
}

.pricing-card__list{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.pricing-card__title{
    font-size: 24px;
    line-height: 36px;
}

.pricing-card__price{
    font-size: 36px;
    letter-spacing: -2px;
    font-weight: 700;
    transition: color 0.3s;
}

.pricing-card:hover .pricing-card__price {
    color: #FFE492
}

.pricing-card__item{
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 19px;
}

.pricing-card__btn{
    max-width: 166px;
    max-height: 51px;
    border: 1px solid #FFE492;
    font-size: 16px;
}

.pricing-card:hover .pricing-card__btn {
    background: #4f9cf9;
    border: none;
    color: #fff;
}

.pricing-card:hover .pricing-card__icon {
    content: url("../img/check-yellow.svg")
}

.your-work{
    color: #fff;
    background-image: url('../img/your-work-bg.svg');
    background-repeat: no-repeat;
    background-position: left bottom -95px;
}

.your-work__inner{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    gap: 0;
    padding: 140px 0;
}

.your-work__title{
    max-width: 100%;
}

.your-work__text{
    max-width: 1064px;
    margin: 24px 0 60px;
}

.highlight-blue{
    position: relative;
    display: inline-block;
    z-index: 1;
}

.highlight-blue::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 40px;
    background: url('../img/underline-blue.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: -1;
}

.your-data__inner{
    padding: 140px 0;
}